#myBtn{
    height: 40px;
    width: 200px;
    cursor: pointer;
    border: 0;
    border-radius: 12px;
    font-size: 15px;
    background-color: #0074D9;
    color: white;
    font-weight: bolder;
}



button{
     height: 40px;
     width: 150px;
     cursor: pointer;
     border: 0;
     border-radius: 12px;
     font-size: 15px;
     background-color: #0074D9;
     color: white;
     font-weight: bolder;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 70px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

header{
    margin:0 auto;
    text-align: center;
    font-family:Sans-serif;
    padding-top:40px;
    padding-bottom: 40px;
    background-color: Silver;
	animation:hello;
	animation-duration: 1.5s;
}
@keyframes hello{
	0%{
		margin:0;
		padding:0;
		background-color: white;
		color:white;
		display:none;
	}
			/*100%{
					margin: 20px auto;
					padding:30px;
			}*/
}
header:hover{
	transform: scale(1.1);
}
.ques{
    
    padding: 20px;
    font-family: Cursive;
}
.table-Main{
    overflow-x:auto;
    max-width: 900px;
    padding-top:10px;padding-bottom: 15px;
}
.tableBody{
    border:2px solid black;
    /*margin:0 auto;*/
}
table, th, td {
border: 1px solid blue;
border-collapse: collapse;
padding: 8px;
}
td{
min-width:120px;
}
footer{
    margin:0 auto;
    text-align: center;
    font-family:Sans-serif;
    padding-top:40px;
    padding-bottom: 40px;
    background-color: Silver;
}
input{
width: 60%;
}
.tableOne{
padding-top:10px;padding-bottom:10px;
}
.tableOne input{
width:100px;
margin-bottom:8px;
}
.tabletwo input{
width:100px;
margin-bottom:8px;
}
.tablethree input{
width:100px;
margin-bottom:8px;
}
.tablefour input{
width:100px;
margin-bottom:8px;
}
.tabletwo{
padding-top:10px;padding-bottom:10px;
}
.tablethree{
padding-top:10px;padding-bottom:10px;
}
.tablefour{
padding-top:10px;padding-bottom:10px;
}


#table2,#tableOne,#submit11,#submit2,#tabletwo,#submit21,#table3,#submit3,#tablethree,#submit31,#table4,#submit4,#tablefour,#submit41
{
    display: none;
}
h3{
    font-family: Cursive;
}
p{
    font-size: large;
}