input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"] {
-moz-appearance: textfield;
}
p, td, label, div, span{
font-size : 18px;
}
button {
   height : 40px;
   width : 140px;
   cursor : pointer;
   border : 0;
   border-radius : 5px;
   font-size : 15px;
   background-color : #0074D9;
   color : white;
   font-weight : bolder;
}
body,input{
background-color : #e6e6ff;
color:black;
}

button{
background-color:rgba(0, 99, 178,0.7);
}
header{
background-color:rgba(0, 99, 178,0.7);
color:#e6e6ff;
text-align: center;
font-weight : bolder;
animation-name: one;
animation-duration: 7s;
width:100%;
height:100px;padding-top:30px;
font-size:larger;margin-left:0px;padding-left:0px;font-size:larger;
font-size:35px;
}
header:hover{
   transform:scale(1.1);
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
text-decoration: none;
cursor: pointer;
}
   @keyframes two {
            0%{
                width:0px;height:0px;color:#e6e6ff;background-color : #e6e6ff;display:none;border:1px solid #e6e6ff;;
            }
        }
        @keyframes one {
            0%{
                color:#9CC3D5FF;
                background-color:#9CC3D5FF;
                display:none;
            }
        }
        header,.t1,label{
           animation-name:one;animation-duration:2s;
        }
        button,table,input{
           animation-name:two;animation-duration:4s;
        }
        .lol{
           border:1px solid black;
        }