input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
input[type="number"] {
   -moz-appearance: textfield;
}
.div {
    padding-left: 10%;
}
button {
	height : 40px;
	width : 160px;
	cursor : pointer;
	border : 0;
	border-radius : 12px;
	font-size : 15px;
	background-color : #0074D9;
	color : white;
	font-weight : bolder;
}
.modal {
display: block; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* The Close Button */
.close {
color: #ff0000;
float: right;
font-size: 28px;
font-weight: bold;
}
button {
	height : 40px;
	width : 160px;
	cursor : pointer;
	border : 0;
	border-radius : 12px;
	font-size : 15px;
}
button:hover {
	background-color : #0074D9;
	color : white;
	font-weight : bolder;
}
.close:hover,
.close:focus {
color:#ff0000;
text-decoration: none;
cursor: pointer;
}
p, label, td, div {
	font-size : 17px;
}