
body {font-family: Arial, Helvetica, sans-serif;}
h1{
	font-size: 35px;
	color: #0074D9;
}
h3{
	color: rgb(0,116,217,1);
  font-weight:bolder
}
p{
	font-size: 18px;
}
button ,#smooth1{
				height : 40px;
				width : 140px;
				cursor : pointer;
				border : 0;
				border-radius : 5px;
				font-size : 15px;
				color : white;
				font-weight : bolder;
			}
/* The Modal (background) */
.modal {
   /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
	header:hover{
		transform: scale(1.1);
	}

.source{
max-width:909px;
max-height:30px;
display: grid;
grid-template-columns: repeat(9,1fr);
grid-template-rows: repeat(1,1fr);
column-gap: 0px;
}
.hi{
    width:99px;
    height:30px;
    border:1px solid black;
    column-gap: 0px;
    text-align: center;
}
.destination{
    width:909px;
    max-height: 30px;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(1,1fr);
}
.bye{
    width:99px;
    height:30px;
    border:1px solid black;
}
.bin1{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    width:300px;
    grid-gap: 0px;
}
.bin2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    width:300px;
}
.bin3{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    width:300px;
}
.one{
    border:1px solid black;
    width:100px;
    height:30px;
    text-align: center;
}
.bin{
    display:none;
}
 body,input{
     background-color : #e6e6ff;
}
header{
       background-color:rgba(0, 99, 178,0.7);
        color:#e6e6ff;
}
        header{
            background-color:rgba(0, 99, 178,0.7);
            color:#e6e6ff;
            text-align: center;
			font-weight : bolder;
            animation-name: one;
            animation-duration: 7s;
            width:100%;
            height:60px;padding-top:30px;
            font-size:larger;
            font-size:35px;
        }
         main{
             animation-name: one;
            animation-duration: 4s;
        }
        .heading{
             animation-name: one;
            animation-duration: 2s;
        }
        .modal-content,#temp,#temp1{
            animation-name: one;
            animation-duration: 3s;
            animation-fill-mode: forwards;
        }
        .hi,#check,.bye,#myBtn{
              animation-name: two;
            animation-duration: 2s;
        }
        @keyframes two {
            0%{
                width:0px;height:0px;color:#e6e6ff;background-color:#e6e6ff;display:none;
            }
        }
        @keyframes one {
            0%{
                color:#e6e6ff;
                background-color:#e6e6ff;
                display:none;
            }
        }
        button,#smooth1{
            background-color:rgba(0, 99, 178,0.7);
        }
        main{
            color:rgb(0, 0, 0);
        }
        input{padding-right:5px;}