
body {font-family: Arial, Helvetica, sans-serif;}
h1{
	font-size: 35px;
	color: #0074D9;
}
h3{
	color: #0074D9;
}
p{
	font-size: 18px;
}
button {
				height : 40px;
				width : 160px;
				cursor : pointer;
				border : 0;
				border-radius : 12px;
				font-size : 15px;
				background-color : #0074D9;
				color : white;
				font-weight : bolder;
			}
/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#d {
    display: none;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
	header:hover{
		transform: scale(1.1);
	}
	header{
			font-size : 25px;
			font-weight : bolder;
			text-align:center;
			background-color:#CCE5FF;
			font-family:sans-serif ;
			animation:hello;
			animation-duration: 1.5s;
			margin: 20px auto;
			padding:30px;
	}


.source{
max-width:909px;
max-height:30px;
display: grid;
grid-template-columns: repeat(9,1fr);
grid-template-rows: repeat(1,1fr);
column-gap: 0px;
}
.hi{
    width:99px;
    height:30px;
    border:1px solid black;
    column-gap: 0px;
    text-align: center;
}
.destination{
    width:909px;
    max-height: 30px;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(1,1fr);
}
.bye{
    width:99px;
    height:30px;
    border:1px solid black;
}
.bin1{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    width:300px;
    grid-gap: 0px;
}
.bin2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    width:300px;
}
.bin3{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    width:300px;
}
.one{
    border:1px solid black;
    width:100px;
    height:30px;
    text-align: center;
}
.bin{
    display:none;
}