
.entropy, .tick, .wrong, .table, .gain, .allgains, .gainratio, .en1{
				display : none;
			}
			p, label, td, div, span, b, body{
				font-size : 18px;
			}
			button {
				height : 40px;
				width : 160px;
				cursor : pointer;
				border : 0;
				border-radius : 12px;
				font-size : 15px;
				background-color : #0074D9;
				color : white;
				font-weight : bolder;
			}
			.modal {
					display: none
					; 
					position: fixed;
					z-index: 1; 
					padding-top: 100px; 
					left: 0;
					top: 0;
					width: 100%; 
					height: 100%;
					overflow: auto; 
					background-color: rgb(0,0,0); 
					background-color: rgba(0,0,0,0.4); 
					}


		.modal-content {
					background-color: #fefefe;
					margin: auto;
					padding: 20px;
					border: 1px solid #888;
					width: 80%;
					font-family: Arial, Helvetica, sans-serif;
					font-size : 18px;
					}
			.cross {
					color: #ff0000;
					float: right;
					font-size: 28px;
					font-weight: bold;
					}
			.cross:hover,focus {
					color:#ff0000;
					text-decoration: none;
					cursor: pointer;
					}
			td.first {
				position: relative;
				animation-name: example;
				animation-duration: 4s;  
				animation-delay: 2s;
				animation-fill-mode: forwards;
			}
			@keyframes example {
				from {top: 0px; background-color : lightgreen}
				to {top: 140px; right:27px;}
			}
			td.sec {
				position: relative;
				animation-name: example1;
				animation-duration: 4s;  
				animation-delay: 6s;
				animation-fill-mode: forwards;
			}
			@keyframes example1 {
				from {top: 0px; background-color : lightgreen}
				to {top: 170px; left : 104px;}
			}
			td.third {
				position: relative;
				animation-name: example2;
				animation-duration: 4s;  
				animation-delay: 10s;
				animation-fill-mode: forwards;
			}
			@keyframes example2 {
				from {top: 0px; background-color : lightgreen}
				to {top: 170px; left : 95px;}
			}
			td.fourth {
				position: relative;
				animation-name: example4;
				animation-duration: 4s;  
				animation-delay: 14s;
				animation-fill-mode: forwards;
			}
			@keyframes example4 {
				from {top: 0px; background-color : lightgreen;}
				to {top: 110px; left : 132px;}
			}
			td.fifth {
				position: relative;
				animation-name: example5;
				animation-duration: 4s;  
				animation-delay: 18s;
				animation-fill-mode: forwards;
			}
			@keyframes example5 {
				from {top: 0px; background-color : lightgreen}
				to {top: 137px; left : 264px;}
			}
			td.sixth {
				position: relative;
				animation-name: example6;
				animation-duration: 4s;  
				animation-delay: 22s;
				animation-fill-mode: forwards;
			}
			@keyframes example6 {
				from {top: 0px; background-color : lightgreen}
				to {top: 137px; left : 254px;}
			}
			td.seventh {
				position: relative;
				animation-name: example7;
				animation-duration: 4s;  
				animation-delay: 26s;
				animation-fill-mode: forwards;
			}
			@keyframes example7 {
				from {top: 0px; background-color : lightgreen}
				to {top: 77px; left : 291px;}
			}
			td.eight {
				position: relative;
				animation-name: example8;
				animation-duration: 4s;  
				animation-delay: 30s;
				animation-fill-mode: forwards;
			}
			@keyframes example8 {
				from {top: 0px; background-color : lightgreen}
				to {top: 105px; left : 424px;}
			}
			td.ninth {
				position: relative;
				animation-name: example9;
				animation-duration: 4s;  
				animation-delay: 34s;
				animation-fill-mode: forwards;
			}
			@keyframes example9 {
				from {top: 0px; background-color : lightgreen}
				to {top: 105px; left : 415px;}
			}
			#gaintable {
				border-collapse: collapse;
				border-spacing: 0 ;

			}
			td.1{
				padding: 0px;
				border-width: 0px;
				margin: 0px;

			}
			span{
				color: red;
			}