
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size:large;
}













*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  table {
    background: #012B39;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
  }
  th {
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 0.85em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
  }
  td {
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
  }
  tbody tr {
    transition: background 0.25s ease;
  }
  tbody tr:hover {
    background: #014055;
  }
  body{
      padding-left: 5%;
      border-top: 10px;
  }
  h4 {
      padding-left: 1%;
  }
  .tab3,.tab4,.tab5 ,.div8,#div9{
      display: none;
  }

  .div1,.div2 {
    width: 50%;
    float: left;
  }

  .tab3,.tab4 {
    height: 25%;
    width: 50%;
    float: left;
  }

  .cls7,.tab6 {
    width: 50%;
    float: left;
   }
  

  .verify1,.verify2,.verify3,#verify5,.verify4{
     height: 40px;
     width: 130px;
     cursor: pointer;
     border: 0;
     border-radius: 12px;
     font-size: 15px;
     background-color: #0074D9;
     color: white;
     font-weight: bolder;
   }